%header
  .title-container
    %h1 Help start a CSA in your neighborhood
    %h2 Show your interest and where you would pick up food
.content
  #map-canvas
  .form-container
    .form-title
      %h3 Show your interest
    %form.form-horizontal
      %fieldset
        .control-group
          %label.control-label{:for => "input-name"} Name
          .controls
            %input.input-xlarge#input-name
            %p.help-block
      %fieldset
        .control-group
          %label.control-label{:for => "input-email"} E-mail
          .controls
            %input.input-xlarge#input-email
            %p.help-block
      .location-controls
        %h4.location-title Where would you pick up food? 
        .location-hint 
          Add a location


