%header
  .title-container
    %h1 Do you want fresh food delivered weekly to your neighborhood?
    %h2 Show us where you live, work and hang out to help organizers choose pick-up locations
.content
  #map-canvas
  .form-container
    .form-title
      %h3 Show your interest
    %form.form-horizontal
      %fieldset
        .control-group
          %label.control-label{:for => "input-name"} Name
          .controls
            %input.input-xlarge#input-name
            %p.help-block
      %fieldset
        .control-group
          %label.control-label{:for => "input-email"} E-mail
          .controls
            %input.input-xlarge#input-email
            %p.help-block
      .location-controls
        %h4.location-title Add your locations to the map
        .marker-controls 
          .marker-container{:data => {:key => "home"}}
            .marker-label Home
            %img.image-marker{:src => "/assets/home-basic.png"}
          .marker-container{:data => {:key => "work"}}
            .marker-label Work
            %img.image-marker{:src => "/assets/work-basic.png"}
      %button.btn.btn-large{:onclick => "submitMarkers(); return false;"} Submit


